.homeslider-container {
  .slick-prev {
    left: 20px;
    z-index: 10;
  }

  .slick-next {
    right: 45px;
  }

  @media (max-width: "600px") {
    .prevArrow {
      display: none;
    }
  }

  @media (max-width: "600px") {
    .nextArrow {
      display: none;
    }
  }

  .slick-prev:before {
    content: none;
  }

  .slick-next:before {
    content: none;
  }

  .slick-dots {
    position: absolute;
    bottom: 11px;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
  }

  .slick-dots li button:before {
    font-family: "slick";
    font-size: 6px;
    line-height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    content: "•";
    text-align: center;
    opacity: 0.95;
    color: #002e55;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .slick-dots li.slick-active button:before {
    opacity: 1;
    color: #002e55;
    font-size: 15px;
    transition: font-size 0.3s ease;
    /* Added transition for smooth font size change */
  }

  .slick-dots li button:before {
    font-size: 3px;
    /* Default font size when not active */
    transition: font-size 0.3s ease;
    /* Smooth transition for font size change */
  }

  .custom-arrow {
    background-color: rgba(0, 0, 0, 0.5);
    /* Semi-transparent background */
    border: none;
    padding: 10px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .custom-arrow:hover {
    background-color: rgba(0, 0, 0, 0.8);
    /* Darker background on hover */
  }
}
